/*@import 'https://fonts.googleapis.com/css?family=Baloo+Bhaina';*/
.signUp .top {
	margin-top: 130px;
	margin-bottom: 0px;
	background-color: #3E4549;
}
.signUp .top h2{
	padding: 20px 8%;

	color: #ffffff;
	font-size:32px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -2px;
	line-height: 34px;
}
#body .mid .logoBox .threeLogo .logo li{
	display: inline;
	list-style: none;
}
.mid .logoBox .threeLogo i{
	color: #778489;
	font-size: 45px;
	padding-right: 10px;
	margin-top: 20px;
	transition: 0.35s;
}
.mid .logoBox .threeLogo i:hover{
	color: #38C8E0;
}
.mid .logoBox{
	background-color: #38c8e0;
}
<<<<<<< HEAD
.mid .logoBox .signInForm{
	position: relative;
	padding-bottom: 100px; 
}
.mid .logoBox .signInForm p{
	height: 317px;
	width: 555px;
	background-color: #333;
	margin: auto; 
	/*position: absolute;*/
}
.mid .logoBox .signInForm input{
	display: block;
	/*position: absolute;*/
}
.mid .logoBox .signInForm .logIn{
	width: 100px;
	height: 50px;
	background-color: #f98253;
	padding: 15px 20px 15px 25px;
	color: #FFFFFF;
	text-align:center；
}
.mid .logoBox .signInForm .logIn:hover{
	background: #fd966d;
	color: #FFFFFF;
}
.mid .logoBox .signInForm span{
	margin: 0px auto;
	color: #ffffff;
	transition: 0.35s;
}
.mid .logoBox .signInForm span:hover{
	color: #fff;
  	opacity: 0.6;
}
=======

>>>>>>> db65eb967ca1bd85ebfa40decd0d39ccc6345227
